*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul li{
    list-style-type: none;
}
body{

    background: url('https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png');
}
.hearder{
    width: 100%;
    height: 40px;
    background-color: #233e92;
    display: flex;
    /* align-items: center; */
    position: relative;
   
}
.hearder--text{
    margin: 0 24px;
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.hearder--email{
    position: absolute;
    right: 20%;
    display: flex;
    top:50%;
    transform: translateY(-50%);
}
.hearder--phone{
    position: absolute;
    right:10%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
}
.hearder--phone--numberphone{
    margin: 0 5px;
    color: white;
}
.header--nav-manager{
    
    display: flex;
    
}
.nav-item{
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;
}


.nav-item-list
{
    position: absolute;
    background-color: #D8FB69;
    width: 90px;
    left: 20px;
    top:20px;
    z-index: 10;
  
}
.item-ele:hover{
    background-color: #ABFFC1;
    border-bottom:solid black 1px ;
    border-radius: 5px;
}
#collect{
    background-color: #8dd6a1;
}
#collect a{
    color: black ;
    line-height: 100%;
}
/* ======Container====  */
.container{
    position: relative;
    width: 100%;
    height: 100%;
    /* margin: 20px 40px; */
    padding: 30px 50px;
    border: red solid 1px;
    border-radius: 10px;
}
.container-element{
    width: auto;
    position: relative;
    border: #30abb4 1px solid;
    margin: 10px 0;
    border-radius: 15px;
    padding: 20px 50px;
    display: block;
    justify-items: center;
    font-size: 20px;
} 

.container__header__top{
    display: flex;
}
.container__header__top-ele 
{
    margin: 0px 20px;
    
}
.container__header__top-ele i{
    font-size: 20px;
}
#filter{
    width: 150px;
    height  : 30px;
}
.container__header-body{
    display: flex;
    width: 515px;
}
.header_search {
    position: relative;
}
.header_search i{
    position: absolute;
    color: rgb(166, 211, 81);
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
.header_search input{
    width: 200px;
    height: 40px;
    padding: 0 40px;
    border-radius: 10px;
}
.container__header-body-item1{
    padding: 0 122px 0 0;
    border-right: rgb(226, 0, 38) 2px solid ;
    margin: 10px 0;
}
.container__header-body-item2{
    padding: 0 0 0 123px;
    margin: 10px 0;
}
.container__body-head{
    display: flex;
    width: 100%;
    padding: 0 40px 0 0 ;
    justify-content: space-between;
}
.container__body-main{
    display: flex;
    padding: 10px 40px;
    width: 100%;
    justify-content: space-between;
    background-color: #b0c0ba;
    border: white;
    margin: 10px 0;
}
.container__body-ele{
    border-left: 3px rgb(0, 161, 13) solid;
    border-top :1px rgb(174, 180, 180) solid;
    border-right :1px rgb(174, 180, 180) solid;
    border-bottom :1px rgb(174, 180, 180) solid;
    padding: 0 5px;
    margin-top: 15px;
}
.container__body-footer{
    display: flex;
}
.button{
    display: flex;
    width: 40%;
    justify-content:flex-end;
}
.button button{
    margin: 0 10px ;
    background-color: #D8FB69;
    border: gray 0.5px solid;
}
.footer{
    background-color: #344A3E;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}
.footer-name{
    font-size: 20px;
    margin: 0 50px;
    color: white;    
}
