*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background:url('./img/20200622110630-1a8a.jpg') no-repeat ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    position: relative;
      width: 100%;
    height: 648px;
}
.main{
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    background-color: rgba(207, 238, 178, 0.774);
    width: 400px;
    height: 500px;
    text-align: center;
}
.header{
    margin: 30px 0 30px;
    font-size: 30px;
}
.user-name input ,.password input{
    width: 300px;
    height: 70px;
    padding: 0 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer button{
    width: 130px;
    height: 60px;
    border-top-right-radius: 10px;
    margin: 20px;
}