*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
ul li{
    list-style-type: none;
}
body{

    background: url('https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png');
}
.hearder{
    width: 100%;
    height: 40px;
    background-color: #233e92;
    display: flex;
    /* align-items: center; */
    position: relative;
   
}
.hearder--text{
    margin: 0 24px;
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.hearder--email{
    position: absolute;
    right: 20%;
    display: flex;
    top:50%;
    transform: translateY(-50%);
}
.hearder--phone{
    position: absolute;
    right:10%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
}
.hearder--phone--numberphone{
    margin: 0 5px;
    color: white;
}
.header--nav-manager{
    
    display: flex;
    
}
.nav-item{
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;
}


.nav-item-list
{
    position: absolute;
    background-color: #D8FB69;
    width: 90px;
    left: 20px;
    top:20px;
    z-index: 10;
  
}
.item-ele:hover{
    background-color: #ABFFC1;
    border-bottom:solid black 1px ;
    border-radius: 5px;
}
#Home{
    background-color: #8dd6a1;
}
#Home a{
    color: black ;
    line-height: 100%;
}
/* =========================Container========================== */
.container{
    position: relative;
    width: 100%;
    height: 100%;
    /* margin: 20px 40px; */
    padding: 30px 50px;
    border: red solid 1px;
    border-radius: 10px;
}
    /* Điện */
.container-element{
    width: auto;
    border: #30abb4 1px solid;
    margin: 10px 0;
    border-radius: 8px;
    padding: 20px 50px;
    display: flex;
    justify-items: center;
} 
.element-right .content__title
{
    font-weight: bold;
    font-size: 20px;
    
}
.element-right div
{
    margin: 0 0 10px 0;
}
.element-left{
    position: relative;
    width: 300px;
    
}
.element-left button{
    position: absolute;
    height: 60px;
    width: 100px;
    border-radius: 10px;
    background-color: #5eb6cc;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.container__turnover{
    display: block;
}
.container__turnover__body{
    display: flex;
}

.container__turnover-item,.container__bill-item{
    padding: 0px 20px;
    margin: 20px 0;
    text-align: center;
}   
.item-left{
    border-right: green 1px solid ;
}
.container__bill__body{
    display: flex;
}
.container__bill{
    display: block;
}
/* ====== */
.footer{
    background-color: #344A3E;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}
.footer-name{
    font-size: 20px;
    margin: 0 50px;
    color: white;    
}